# Data Folders and Files
/yelp_csv
/yelp_json
/db_pickled
/similarity_matrices
/category_list


# Local Python files
/jsontocsvconverter.py
/*.pyc


# Graph Outputs
/*.png
/*.jpg


# Output Text Files
/basic_analysis.txt